{% extends 'base.html' %}
{% block left_nav %}
    <ul class="layui-nav layui-nav-tree">
        {% for bar in Bars %}
            <li data-name="component" class="layui-nav-item layui-nav-itemed">
                <a href="javascript:;" laytips = "{{ bar.0 }}" lay-direction="2">
                    <i class="layui-icon layui-icon-component"></i>
                        <cite>{{ bar.0 }}</cite>
                    <span class="layui-nav-more"></span>
                </a>
                    {% for a1 in bar %}
                        {% if not forloop.first %}
                            <dl class="layui-nav-child">
                                <dd data-name="button">
                                    <a href="/mainview/{{ a1 }}" target="#">{{ a1 }}</a>
                                </dd>
                            </dl>
                        {%  endif %}
                    {% endfor %}
            </li>
        {% endfor %}

    </ul>

{% endblock %}


{% block content %}
<nav>
    <ol class="breadcrumb">
        {{ path }}
    </ol>
</nav>
<h1>{{  param1  }}</h1>
{% if h5 %}
    {% autoescape off %}
        {{ content }}
    {% endautoescape %}
{% else %}
    {{ content }}
{% endif %}
{% endblock %}