{% extends 'base.html' %}
{% block left_nav %}
    <ul class="nav flex-column">
    {% for item in directory_name %}
        <li class="nav-item">
            <a class="nav-link active collapse" href="#{{ item }}">{{ item }}</a>
        </li>
        {% for art in item %}
            <a id="{{ item }}" class="panel-collapse" href="{{ art }}">{{ art }}</a>
        {% endfor %}
    {% endfor %}
    </ul>
{% endblock %}
{% block content %}
<nav>
    <ol class="breadcrumb">
        {{ path }}
    </ol>
</nav>
<h1>{{  param1  }}</h1>
{{ content }}
{% endblock %}