<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎来到软工作业提交系统！</title>
</head>
<body>
{% if messages %}
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}" {% endif %} style="padding: 10px">{{ message }}</p>
    {% endfor %}
{% endif %}

<form action="" method="post">
    {% csrf_token %}
    <!--{{ form }}-->
    用户名：<input type="text" name="Username">
    <br>
    密码：<input type="password" name="Password">
    <br>
    <input type="submit" value="登录" />
</form>
<a href="{% url 'register' %}">还没有账号？前往注册</a>
</body>
</html>