<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
     <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="{% static 'layui/css/layui.css' %}">
    <title>Logout</title>
</head>
<body>
{% if messages %}
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}" {% endif %} style="padding: 10px">{{ message }}</p>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
{% endif %}
    {% endfor %}
{% endif %}
 <div class="layui-input-block">
            <button class="layui-btn" type="button" onclick="window.location.href='/upload/login'">重新登录</button>
            <button class="layui-btn" type="button" onclick="window.location.href='/'">返回主页</button>
 </div>
</body>
</html>