<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
</head>
<body>
<form action="" method="post">
    {% csrf_token %}
    <!--{{ form }} -->
    用户名：<input type="text" name="Username">
    <br>
    密码：<input type="password" name="Password">
    <br>
    确认密码：<input type="password" name="ConfirmPass">
    <br>
    <input type="submit" value="注册" />
</form>
{% if messages %}
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}" {% endif %} style="padding: 10px">{{ message }}</p>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}<a href="{% url 'login' %}">前往登陆</a> {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>